@font-face {
  font-family: Michroma;
  src: url(../assets/fonts/Michroma-Regular.ttf); }

@font-face {
  font-family: BlackOpsOne;
  src: url(../assets/fonts/BlackOpsOne-Regular.ttf); }

@font-face {
  font-family: Telex;
  src: url(../assets/fonts/Telex-Regular.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btnCommon, .btnPartidos, .btnJugadores, .btnForm, .btnMain {
  border: 1px Solid #FFCA03;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px #262829;
  width: 90%;
  box-shadow: 2px 2px #1A1C20;
  margin: 5px;
  opacity: 0.7;
  transition: 0.3s;
  color: #1B1A17; }
  .btnCommon:hover, .btnPartidos:hover, .btnJugadores:hover, .btnForm:hover, .btnMain:hover {
    background-color: #FFEFA0;
    opacity: 1; }

.btnPartidos {
  background-color: #EBA83A;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px; }

.btnJugadores {
  background-color: #E6B325;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.btnForm {
  background-color: #D4AC2B;
  box-shadow: 2px 2px #262829;
  border: 1px Solid #262829; }

.btnMain {
  background-color: #E6B325;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: max-content; }

.parallax, .parallax1, .parallax2, .parallax3, .parallax4, .parallax5 {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax1 {
  background-image: url(../../assets/img/argentina1.jpg);
  min-height: 85vh; }

.parallax2 {
  background-image: url(../../assets/img/messi2.jpg);
  min-height: 70vh; }

.parallax3 {
  background-image: url(../../assets/img/argentina2.jpg);
  min-height: 70vh; }

.parallax4 {
  background-image: url(../../assets/img/messi3.jpg);
  min-height: 70vh; }

.parallax5 {
  background-image: url(../../assets/img/dibu.jpg);
  min-height: 70vh; }

@keyframes copa {
  0% {
    transform: rotateZ(0deg); }
  25% {
    transform: rotateZ(90deg); }
  50% {
    transform: rotateZ(180deg); }
  75% {
    transform: rotateZ(270deg); }
  100% {
    transform: rotateZ(360deg); } }

@keyframes aparecerDeIzquierda {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0); } }

@keyframes aparecerDeDerecha {
  0% {
    transform: translateX(200%); }
  100% {
    transform: translateX(0); } }

@keyframes aparecerDeArriba {
  0% {
    transform: translateY(-200%); }
  100% {
    transform: translateY(0); } }

@keyframes aparecerDeAbajo {
  0% {
    transform: translateY(200%); }
  100% {
    transform: translateY(0); } }

.animacionIzquierda {
  animation: 1s ease-in-out 0.8s 1 aparecerDeIzquierda; }

.animacionDerecha {
  animation: 1s ease-in-out 0.8s 1 aparecerDeDerecha; }

.animacionArriba {
  animation: 1s ease-in-out 0.8s 1 aparecerDeArriba; }

.animacionAbajo {
  animation: 1s ease-in-out 0.8s 1 aparecerDeAbajo; }

/* ESTABLEZCO FONT SIZE CON VW PARA QUE SEA RESPONSIVE */
* {
  font-family: Michroma;
  font-size: 1vw; }

p {
  font-family: Telex;
  font-size: 1vw; }

h1 {
  font-size: 7vw; }

h2 {
  font-size: 5vw; }

h3 {
  font-size: 3vw; }

/* COPA - LOGO */
.container-fluid a img {
  width: auto;
  height: 90px;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  .container-fluid a img:hover {
    animation-name: copa;
    animation-timing-function: linear; }

header nav {
  border-bottom: 2px Solid #FFCA03; }
  header nav a img {
    border: 3px Solid #FFCA03; }

.nav-link {
  transition: all 0.3s; }
  .nav-link:hover {
    transform: translate(1px, 1px); }
  .nav-link::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #FFCA03;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out; }
  .nav-link:hover::after {
    transform-origin: left;
    transform: scaleX(1); }
  .nav-link::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #FFCA03;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out; }
  .nav-link:hover::before {
    transform-origin: right;
    transform: scaleX(1); }

footer nav {
  border-top: 2px Solid #FFCA03; }

footer h3 {
  font-family: BlackOpsOne; }

.fa-facebook {
  color: #0165E1; }

.fa-instagram {
  color: #e95950; }

.fa-twitter {
  color: #00acee; }

main {
  background-color: #262829; }

.divisor {
  margin: 1rem 0;
  width: 100%;
  height: 3rem;
  border-radius: 50px;
  box-shadow: 0.2rem 0.2rem 0.5rem #FFEFA0, inset 0.2rem 0.2rem 0.5rem #FFEFA0; }

.fondoTransparente {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2rem;
  margin: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #FFEFA0, inset 0.2rem 0.2rem 0.5rem #FFEFA0; }

.hero__section {
  margin-top: 3vh; }

form textarea {
  resize: none; }

.estadios .card img {
  transition: opacity .3s;
  opacity: 0.5; }
  .estadios .card img:hover {
    opacity: 1.0; }

.jugadores .card {
  transition: all .3s; }
  .jugadores .card:hover {
    box-shadow: 0 0 20px #FFEFA0;
    transform: scale(1.03, 1.03); }
  .jugadores .card img {
    width: 100%;
    height: 40vh;
    object-fit: cover; }

.partidos .card {
  transition: all .3s; }
  .partidos .card:hover {
    box-shadow: 0 0 20px #FFEFA0;
    transform: scale(1.03, 1.03); }
  .partidos .card img {
    width: 100%;
    height: 40vh;
    object-fit: cover; }
