@font-face {
  font-family: Michroma;
  src: url(../assets/fonts/Michroma-Regular.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btnCommon, .btnPartidos, .btnJugadores {
  border: 1px Solid #13bae3;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #13bae3;
  width: 100%;
  box-shadow: 2px 2px black;
  margin: 5px 0 5px 0;
  opacity: 0.5;
  transition: 0.3s; }
  .btnCommon:hover, .btnPartidos:hover, .btnJugadores:hover {
    background-color: black;
    opacity: 1; }

.btnPartidos {
  background-color: blue;
  color: white; }

.btnJugadores {
  background-color: black;
  color: white; }

@keyframes copa {
  0% {
    transform: rotateZ(0deg); }
  25% {
    transform: rotateZ(90deg); }
  50% {
    transform: rotateZ(180deg); }
  75% {
    transform: rotateZ(270deg); }
  100% {
    transform: rotateZ(360deg); } }

* {
  font-family: Michroma; }

/* COPA - LOGO */
.container-fluid a img {
  width: auto;
  height: 90px;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  .container-fluid a img:hover {
    animation-name: copa;
    animation-timing-function: linear; }

.nav-link {
  transition: all 0.3s; }
  .nav-link:hover {
    transform: translate(1px, 1px); }
  .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #13bae3;
    transition: width .3s; }
  .nav-link:hover::after {
    width: 100%; }

.fa-facebook {
  color: #0165E1; }

.fa-instagram {
  color: #e95950; }

.fa-twitter {
  color: #00acee; }

main {
  background-image: radial-gradient(circle, #ECF9FF, #CDFCF6); }

.estadios .card img {
  transition: opacity .3s;
  opacity: 0.5; }
  .estadios .card img:hover {
    opacity: 1.0; }

.jugadores .card {
  transition: all .3s; }
  .jugadores .card:hover {
    box-shadow: 0 0 20px #DD5353;
    transform: scale(1.03, 1.03); }
  .jugadores .card img {
    width: 100%;
    height: 40vh;
    object-fit: cover; }

.partidos .card {
  transition: all .3s; }
  .partidos .card:hover {
    box-shadow: 0 0 20px #DD5353;
    transform: scale(1.03, 1.03); }
  .partidos .card img {
    width: 100%;
    height: 40vh;
    object-fit: cover; }
