
.divisor{
    margin: 1rem 0;
    width: 100%;
    height: 3rem;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 0.5rem $card_color, inset 0.2rem 0.2rem 0.5rem $card_color;

}

.fondoTransparente{
    background: $transparent_color;    
    border-radius: 2rem;
    margin: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem $card_color, inset 0.2rem 0.2rem 0.5rem $card_color;
}

.parallax{
    background-image: url(../../assets/img/argentina1.jpg);

    min-height: 85vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.parallax2{
    background-image: url(../../assets/img/messi2.jpg);

    min-height: 60vh;
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax3{
    background-image: url(../../assets/img/argentina2.jpg);

    min-height: 60vh;
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax4{
    background-image: url(../../assets/img/messi3.jpg);

    min-height: 60vh;
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax5{
    background-image: url(../../assets/img/messi4.jpg);

    min-height: 60vh;
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero__section{
    margin-top: 3vh;
}