@keyframes copa {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(90deg);
    }

    50% {
        transform: rotateZ(180deg)
    }

    75% {
        transform: rotateZ(270deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes aparecerDeIzquierda{
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes aparecerDeDerecha{
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }   
}

.animacionIzquierda{
    animation: 1s ease-in-out 0.8s 1 aparecerDeIzquierda;
}


.animacionDerecha{
    animation: 1s ease-in-out 0.8s 1 aparecerDeDerecha;
}