/* ESTABLEZCO FONT SIZE CON VW PARA QUE SEA RESPONSIVE */
* {
    font-family: $font-main;
    font-size: 1vw;
}

p {
    font-family: $font_Paragraph;
    font-size: 1vw;
}

h1 {
    font-size: 7vw;
}

h2 {
    font-size: 5vw;
}

h3 {
    font-size: 3vw;
}