/* COPA - LOGO */
.container-fluid a {
    img {
        width: auto;
        height: 90px;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        &:hover {
            animation-name: copa;
            animation-timing-function: linear;
        }
    }
}

header {
    nav {
        border-bottom: 2px Solid $link_color;

        a {
            img {
                border: 3px Solid $link_color;
            }
        }
    }
}

.nav-link {

    transition: all 0.3s;

    // Movimiento de los links
    &:hover {
        transform: translate(1px, 1px);
    }

    // Subrayado de los links
    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: $link-color;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    &:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }

    // Linea arriba de los links
    &::before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: $link-color;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    &:hover::before {
        transform-origin: right;
        transform: scaleX(1);
    }
}