@font-face {
    font-family: Michroma;
    src: url(../assets/fonts/Michroma-Regular.ttf);
}

@font-face {
    font-family: BlackOpsOne;
    src: url(../assets/fonts/BlackOpsOne-Regular.ttf);
}

@font-face {
    font-family: Telex;
    src: url(../assets/fonts/Telex-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}