// Colores

$card_color:  #FFEFA0;

$link_color: #FFCA03;

$facebook_color: #0165E1;
$instagram_color: #e95950;
$twitter_color: #00acee;
$background_color: #262829;
$transparent_color: rgba(0, 0, 0, 0.7); 

$btnJugadores_color: #E6B325;
$btnPartidos_color: #EBA83A;
$btnForm_color: #D4AC2B;

$btnFont_color: #1B1A17;

$btnShadow_color: #1A1C20;

$redes: (
    facebook: $facebook_color,
    instagram: $instagram_color,
    twitter: $twitter_color
);

// Fuentes
$font-main: Michroma;

$font_Header_footer: BlackOpsOne;

$font_Paragraph: Telex;