// Colores

$card_color: #DD5353;
//#03f9f1fa;
$link_color: #13bae3;
$facebook_color: #0165E1;
$instagram_color: #e95950;
$twitter_color: #00acee;
$background_color1: #ECF9FF;
$background_color2: #CDFCF6;


$redes: (
    facebook: $facebook_color,
    instagram: $instagram_color,
    twitter: $twitter_color
);

// Fuente
$font-main: Michroma;